/* nav */
.navbar{
    position: relative;
}
/* main */
.main{
    position:absolute;
    top: 65px;
}

/* footer */
.footer{
    height:100px;
    width:100%;
    background-color: black;
}

.sns {
    height: 50px;
    width :50%;
}